{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Theme Clone</title>
    <link rel="stylesheet" href="{% static 'clone/theme/' %}{{ selected_theme }}">
</head>
<body>
    <h1>Google Theme Clone</h1>
    <h2>Select Theme:</h2>
    <ul>
        <li><a href="{% url 'set_theme' 'dark.css' %}">Dark Theme</a></li>
        <li><a href="{% url 'set_theme' 'blue.css' %}">Blue Theme</a></li>
        <li><a href="{% url 'set_theme' 'default.css' %}">Default Theme</a></li>
    </ul>
</body>
</html>



